<h4>Top players for crime: {{crime}}</h4>
<div class="form-group">
  <input type="text" class="form-control" placeholder="filter by player" [(ngModel)]="filterTerm"/>
</div>
<table border="1" width="100%">
  <thead>
    <tr>
      <th>No.</th>
      <th>Name</th>
      <th>Arrest count</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let player of top_players| playersFilter:filterTerm; let i = index">
      <td>{{i+1}}</td>
      <td>{{player.Name}}</td>
      <td>{{player.arrest_count}}</td>
    </tr>
  </tbody>
</table>