<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>
<div class="container">

  <div id="choseViewDiv">
    <label id="choseViewLabel">Chose view: </label>
    <select id="viewDropdown" (change)="dropdownChange($event)">
      <option value="0">Top Crimes</option>
      <option value="1">Top Players for Crime</option>
      <option value="2">Top Teams for Crime</option>
      <option value="3">Crime Timeline</option>
    </select>
    <ng-container *ngIf="show">
      
      <label id="crimeLabel">Crime:</label>
      <input placeholder="crime" type="text" class="form-control" [(ngModel)]="crime" id="crimeInput"/>
   
    </ng-container>
    <button (click)="changeView()" id="changeViewBtn">Change</button>
  </div>

  <router-outlet></router-outlet>
</div>