#choseViewDiv{
    margin: 2rem 0;
}
#choseViewLabel{
    margin-right: 0.5em;
}
#crimeLabel{
    margin: 0 0.5em;
}
#changeViewBtn{
    margin-left: 0.5rem;
    background-color: #41b8ea;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    padding: 0.1rem 0.5rem;
}
#crimeInput{
    width: 20%;
    display: inline;
    height: 2rem;
}