<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <div>
    <label>Chose view: </label>
    <select id="viewDropdown" (change)="dropdownChange($event)">
      <option value="0">Top Crimes</option>
      <option value="1">Top Players for Crime</option>
      <option value="2">Top Teams for Crime</option>
      <option value="3">Crime Timeline</option>
    </select>
    <ng-container *ngIf="show">
      <label>Enter crime</label>
      <input placeholder="crime" type="text" [(ngModel)]="crime"/>
    </ng-container>
    <button (click)="changeView()">Change</button>
  </div>
</div>
<router-outlet></router-outlet>