<h4 class="float-left">Top crimes</h4>
<div class="form-group float-right d-flex" id="filterDiv">
  <label class="filterLabel">Filter:</label>
  <input type="text" class="form-control" placeholder="filter by crime" [(ngModel)]="filterTerm"/>
</div>
<table class="table table-striped" id="table">
  <thead>
    <tr>
      <th >No.</th>
      <th>Category</th>
      <th >Arrest count</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let crime of top_crimes | crimeFilter:filterTerm; let i = index">
      <td>{{i+1}}</td>
      <td>{{crime.Category}}</td>
      <td>{{crime.arrest_count}}</td>
    </tr>
  </tbody>
</table>