.filterLabel{
    margin-right: 1em;
    margin-top: 0.5em;
}
thead{
    background-color: #41b8ea;
    color: white;
}
table,th, td{
    border-style: solid;
    border-width: 1px;
    border-color: #dddddd;
}
#filterDiv{
    width:35%;
}